# sample .gitconfig file of mine
#
# last update: 2013.12.23.

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	ls = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	ll = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short -p
	type = cat-file -t
	dump = cat-file -p
	unstage = reset HEAD --
[user]
	name = aceJacek
	email = acejacek@gmail.com
[github]
	user = acejacek
[color]
	ui = auto
[push]
	default = simple
[merge]
	tool = vimdiff

